doctype html
html(lang="ja")
  head
    title 桃星愛花ファンサイト
    //-meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")
    block meta
    //-CSS
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    link(rel="stylesheet" href="./css/loader.css" type="text/css")
    link(rel="stylesheet" href="./css/fadein.css" type="text/css")
    link(rel="stylesheet" href="./css/button.css" type="text/css")
    block css
    //-JS
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script(src="./js/custom.js" type="text/javascript")
    block script
    //-font
    link(href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,800,900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous")
    block font
  body
    div.container-fluid(style="background:rgba(255,255,255,0.8)")
      //-Header
      img.img-fluid.fadein.mb-5(src="./img/header.jpg")
      //-title
      h4.SM(style="font-size:35px; text-align:center") 桃星愛花用語集<br> ながめし編
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") あ行
      -
        var term = ["IQ","安楽亭","いただきも"]
        var read = ["あいきゅー","あんらくてい","いただきも"]
        var desc = [
        "おしゃれな料理・語彙力の高い説明文だとIQが高い、豪快な料理・語彙力の低い説明文だとIQが低い、と評される。",
        "桃星愛花が愛してやまない焼肉チェーン店。マスコットキャラのあんらくんが放送を見に来てくれることも。",
        "	放送開始の挨拶。こんばんは、いただきますの意。「も」と略されることもしばしば。"
        ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") #{desc[i]}
        hr
        //-Initial
      div.row.SM.mt-5(style="font-size:30px") か行
      -
        var term = ["過積載","カロリー","カロリー効率", "ギルティ", "禁止カード", "空気", "現地勢", "ごちも"]
        var read = ["かせきさい","かろりー","かろりーこうりつ","ぎるてぃ","きんしかーど","くうき","げんちぜい","ごちも"]
        var desc = [
        "器からこぼれんばかりの量が乗っている料理。",
        "本来は熱量を表す単語だが、放送内ではこの値が高いほど美味しいという指標で、本来の使い方はされない。",
        "カロリー÷値段で算出される、コストパフォーマンスのバロメーター。当然高いほど良い。",
        "深夜のラーメンなど、一般的に推奨されない罪深い行為。",
        "本来の料理にトッピングすることで料理そのものの味やジャンルを変えてしまう強い改変のこと。レギュレーション違反とほぼ同義語。",
        "パフェの上側と下側の間にある空洞部分のこと。これが写真で観測されてしまうと大きなマイナスポイントとなる。",
        "放送で取り上げられている飲食店で、リアルタイムでメニューを食しながら放送を視聴すること。キングオブ予習勢。",
        "放送終了の挨拶。おつかれさま、ごちそうさまの意。",
        ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") #{desc[i]}
        hr
        //-Initial
      div.row.SM.mt-5(style="font-size:30px") さ行
      -
        var term = ["散ッ！","サンキューマジック","すたろー", "ゼンショーポイント",]
        var read = ["さん","さんきゅーまじっく","すたろー","ぜんしょーぽいんと",]
        var desc = [
        "放送が終了し解散する時の合図。",
        "杵屋回で夜居酒屋メニュー390円均一の一見お得に見えた料理が、昼はもっと安く提供されていたことに気付いてしまったことから、メニュー表のデザイン魔力を謳った言葉。",
        "すたみな太郎のこと。すたみな太郎は客側が創作料理を自由に作れるお店なので、ながめし放送で出てくる他店の奇抜なメニューはまず、いの一番に「これはすたみな太郎で再現できるか」を検証される場合がままある。",
        "ゼンショー系列店で、いかにもゼンショーっぽさのあふれる料理のこと。あらゆるものにチーズが乗っていたり、マヨネーズがどばっとかかっているなど、いくつかポイントがある。",
        ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") #{desc[i]}
        hr
        //-Initial
      div.row.SM.mt-5(style="font-size:30px") た行
      -
        var term = ["デッキ"]
        var read = ["でっき"]
        var desc = [
        "	予習復習勢が実際にオーダーしたメニュー・トッピングの総称。トッピングやサイドメニューを追加せず、メニュー表に掲載されているものをそのままオーダーしたものは構築済みデッキと呼ばれる。",
        ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") #{desc[i]}
        hr
        //-Initial
      div.row.SM.mt-5(style="font-size:30px") な行
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") は行
      -
        var term = ["ハッピーアワー","ハラミはデザート","100円","復習","復習勢"]
        var read = ["はっぴーあわー","はらみはでざーと","ひゃくえん","ふくしゅう","ふくしゅうぜい"]
        var desc = [
        "社畜が絶対に来店できない時間に行われるアルコール類特売時間の意。平日18時までの場合が多く、リスナーの殆どが涙をのむ。",
        "安楽亭の牛ハラミはデザートとして食べられる（桃星談）",
        "予習復習で写真を撮る際、頼んだメニューの大きさをわかりやすくするために隣に一緒に置く。ながめしでは何故か100円玉が定着した。",
        "放送で取り上げられたことのあるお店に出向き、実際にメニューを堪能する行為。",
        "放送で取り上げられたことのあるお店に実際に行き、#まなかとながめし へ写真とレポートを投稿しているリスナーの総称。復習勢が集まってオフ会なども行われている。",
              ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") !{desc[i]}
        hr   
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") ま行
      -
        var term = ["松村さん","#まなかとながめし","ミニは甘え","森"]
        var read = ["まつむらさん","まなかとながめし","みにはあまえ","もり"]
        var desc = [
        "ながめし番外編であるジョブチューン同時試聴枠で、安楽亭の代表としてテレビに出演していた広報・松村啓太郎さんの事。お店思いの実直さがリスナーの心をしっかり掴んで敬愛されている",
        "放送ハッシュタグ。予習復習勢の写真が大量にアップされているのでおなかがすいてる時は見てはいけない。",
        "常連リスナーてったーさんの名言。ながめし配信においては、ミニサイズの注文はすべて甘えとなり煽られるので予習勢は注意。",
        "桃星愛花が嫌いなブロッコリーのこと。森を凝縮した味がするらしい。",
              ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") !{desc[i]}
        hr 
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") や行
      -
        var term = ["焼肉とステーキ","有識者","指しゃぶり勢","予習","予習勢"]
        var read = ["やきにくとすてーき","ゆうしきしゃ","ゆびしゃぶりぜい","よしゅう","よしゅうぜい"]
        var desc = [
        "桃星曰く「焼肉とステーキを一緒にする人は母体からやり直してきて」そこには大きな壁がある。",
        "放送のコメント欄に現れる、お店に対して異様に詳しいリスナーのこと。現役もしくは元従業員であることが多い。",
        "家の近くに（住んでいる県に）予習できるお店が一軒もなく、予習したくてもできない、指をしゃぶるくらいしかできないリスナーのこと。放送では鳥取島根に店舗が存在するかがまっさきにチェックされる。",
        "放送日までに実際に飲食店へ行き、実際にメニューを堪能する行為。",
        "放送日までに#まなかとながめし に写真を投稿しレポートを挙げているリスナーの総称。放送が毎日ある以上、次の放送までに予習する時間的猶予が24時間しかないので、予習勢はかなりの意識の高さを誇る。"
              ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") !{desc[i]}
        hr
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") ら行
      -
        var term = ["レギュレーション違反"]
        var read = ["れぎゅれーしょんいはん",]
        var desc = [
        "	しゃぶしゃぶをチーズフォンデュにするなど、元料理から完全な別物の味になってしまうような改変をしてしまったメニューのこと。",
              ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") !{desc[i]}
        hr
      //-Initial
      div.row.SM.mt-5(style="font-size:30px") わ行
      -
        var term = ["詫びシロノワール"]
        var read = ["わびしろのわーる",]
        var desc = [
        "何か懺悔したいことがあるときに誠意を見せる技の一つ。「ミニは甘え」に対するてったーさんの懺悔が起源。",
              ]
      - for (var i = 0; i < term.length; i++)
        //-Content
        div.row.mt-4(style="position:relative; height:50px")
          //-Term
          div.col-lg-3.col-12.SM(style="font-size:2em;") #{term[i]}
          //-Read
          div.col-lg-9.col-12.SM.align-bottom.mb-5.mb-lg-0(style="font-size:1.2em") (読み) #{read[i]}
        div.row.mt-lg-3.mt-3
          //-Description
          div.col-12.SM.my-2(style="font-size:1.3em") !{desc[i]}
        hr
      div.row.mt-5.justify-content-center(style="background:white")
        |参照元：<a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vTHvF3xzA3iyaunTscePuHOKiHltQ46iN1yEvfUtZqT1bsyfExSIgWIb-LfXR2foeNOarzSP2XgIAaj/pubhtml">#まなかとながめし 用語集　</a>(<a href="https://twitter.com/djk_eso">けそ様</a>制作)
        
        
